@media (min-height: 600px) {
    html, body {
        overflow: hidden;
    }
    #badge {
        display: none;
    }
    #info {
        float: left;
        width: calc(100% - 100vh - 20px);
    }
    .square {
        width: 7vh;
        height: 7vh;
    }
    #field {
        width: 100vh;
        float: left;
    }
}
@media (max-height: 600px) {
    html, body {
        overflow: auto
    }
    #badge {
        position: absolute;
        width: 20px;
        left: -20px;
        bottom: 20px;
        background-color: #9C9C9C;
        border-radius: 5px 0 0 5px;
        padding: 5px;
    }
    #info {
        position: fixed;
        width: 400px;
        top: 0px;
        right: -380px;
        background-color: white;
        transition: right 500ms ease 0s;
    }
    #info.shown {
        right: 5px;
    }
    .square {
        width: 6.5vw;
        height: 6.5vw;
    }
    .side_button {
    }
}
html,body {
    height: 100%;
    width: 100%;
}
#info {
    border-left: 2px solid blue;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 40px;
    height: 100%;
}
#header {
    margin-bottom: 0px;
    text-align: center;
    overflow: hidden;
    height: 25%;
}
#output {
    overflow-y: scroll;
    height: 75%;
}
#input {
    position: fixed;
    right: 20px;
    bottom: 5px;
    display: none;
    width: 252px;
}
#answer{
    position: fixed;
    display: none;
    overflow: auto;
    left: 20px;
    top: 5px;
}
#answer.bottom{
    bottom: 5px;
}
#answer td{
    color: white;
    background-color: #99ff99;
    text-align: center;
    font-size: 180%;
    font-weight: bold;
}
#field {
    margin-top: 5px;
    margin-left: 10px;
    border: 0px;
}
.square {
    outline: 1px solid black;
    border: 0px;
    padding: 0px;
    margin: 0px;
    background-size: 100% 100%;
}
span.nowrap {
    display: inline-block;
}
.active-log {
    border: 1px dashed yellow;
}
.btn, .input-sm {
    transform: rotate(0deg) skewX(-20deg);
    margin-right: 0px;
}
