{% load bootstrap3 %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Морской бой по-физтеховски {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Nikolay Zinov">
    {% bootstrap_css %}
    {% bootstrap_javascript jquery=1 %}
</head>
<body>
<div class="navbar navbar-default">
    <div class="container-fluid">
    <a class="navbar-brand" href="/">Морской бой по-физтеховски</a>
    <ul class="nav navbar-nav">
    <li id="rules"><a href="index.php?page=rules">Правила</a></li>
    <li id="rate"><a href="index.php?page=rate">Рейтинг</a></li>
    <li id="bugreport"><a target="blank" href="https://github.com/nzinov/phystech-seabattle-ng/issues?state=open">Сообщить об ошибке</a></li>
    </ul>
    {% if user.is_authenticated %}
    <a class="btn btn-default navbar-btn navbar-right">{% bootstrap_icon "user" %} {{ user.get_username }}</a>
    {% else %}
    <a class="btn navbar-btn btn-primary navbar-right" href="/accounts/login">Войти</a>
    {% endif %}
</div>
</div>
<div class="container">
    {% block content %}{% endblock %}
</div>
<footer style="position: absolute; left: 0px; bottom: 0px; width: 100%;">
<p>&copy; Зинов Николай 2015</p>
<a href="https://plus.google.com/109229859109198130360" rel="publisher">Google+</a>
<a href="http://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangomade124x25.gif" border="0" alt="Made with Django." title="Made with Django." /></a>
</footer>
</div>
</body>
</html>
