{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
<link href='/static/game.css' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="{% static "log.js" %}"></script>
<script language="javascript" type="text/javascript">
var MODE = "{{ mode }}";
var type = "{{ code }}";
var wsUri = "ws://{{ server }}:8000/";
var first = '{{ first }}';
var second = '{{ second }}';
var you = {{ player_num }};
</script>
<script type="text/javascript" src="{% static "game.js" %}"></script>
<script type="text/javascript" src="{% static "tutorial.js" %}"></script>
<script type="text/javascript" src="{% static "cheats.js" %}"></script>
<script type="text/javascript">
window.addEventListener("load", init, false);
</script>
{% endblock %}
{% block body %}
<div class="modal fade" id="modal_window" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <h4 class="modal-title" id="modal_title"></h4>
      </div>
      <div class="modal-body" id="modal_msg">
      </div>
        <div class="modal-footer">
        <a type="button" class="btn btn-primary" href="/">Покинуть страницу</a>
      </div>
    </div>
  </div>
</div>
<div id="input"><input id="text" type="text" size=30 style="background-color: #ffcc99; opacity: 0.9; border: none"></div>
<div id="field"><table border>
{% for i in row_id %}
    <tr>
        {% for j in row_id %}
        <td id="{{i}}:{{j}}" x={{i}} y={{j}} class="square" onclick = "void(0)"></td>
        {% endfor %}
    </tr>
{% endfor %}
</table>
</div>
<div id="info">
<div id="badge" onclick="$('#info').toggleClass('shown')"><span class="glyphicon glyphicon-menu-hamburger"></span></div>
<div id="header" class="well center-block">
    <h4 id="vs"><span class="nowrap">{{ first }}</span> vs <span class="nowrap">{{ second }}</span><br/>
</h4>
<button class="btn btn-xs btn-danger" id="resign" onclick="if (confirm('Вы действительно хотите сдаться?')) {SendJSON({action: 3});}" >Сдаться</button>
<button class="btn btn-xs btn-warning" id="draw" onclick="SendJSON({action: 4});" >Предложить ничью</button>
<button class="btn btn-xs btn-default" id="write_message" onclick="showinput();" >Написать сообщение</button>
<button class="btn btn-xs btn-primary" id="move_back" onclick=shift_move(-1)>
    <span class="glyphicon glyphicon-chevron-left">
</button>
<input class="form-control input-sm" onchange=set_move(this.value) style="display: inline; width: 60px;" type="number" min=1 value=0 id="move">
<button class="btn btn-xs btn-primary" onclick=shift_move(1)>
    <span class="glyphicon glyphicon-chevron-right">
</button></br>
<div id="main" >Вероятно, возникла проблема при подключении к серверу</div>
</div>
<div id="output" ><div></div></div>
</div>
</div>
<table id="answer"></table>
{% endblock %}
