{% load bootstrap3 %}
{% load staticfiles %}
<!DOCTYPE html>

<meta charset="utf-8" />

<title>Морской бой по-физтеховски</title>
<style>
@media (min-height: 600px) {
    html, body {
        overflow: hidden;
    }
    #badge {
        display: none;
    }
    #info {
        float: left;
        width: calc(100% - 100vh - 20px);
    }
    .square {
        width: 7vh;
        height: 7vh;
    }
    #field {
        width: 100vh;
        float: left;
    }
}
@media (max-height: 600px) {
    html, body {
        overflow: auto
    }
    #badge {
        position: absolute;
        width: 20px;
        left: -20px;
        bottom: 20px;
        background-color: #9C9C9C;
        border-radius: 5px 0 0 5px;
        padding: 5px;
    }
    #info {
        position: fixed;
        width: 400px;
        top: 0px;
        right: -380px;
        background-color: white;
        transition: right 500ms ease 0s;
    }
    #info.shown {
        right: 5px;
    }
    .square {
        width: 6.5vw;
        height: 6.5vw;
    }
    .side_button {
    }
}
html,body {
    height: 100%;
    width: 100%;
}
#info {
    border-left: 2px solid blue;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 40px;
    height: 100%;
}
#header {
    margin-bottom: 0px;
    text-align: center;
    overflow: hidden;
    height: 25%;
}
#output {
    overflow-y: scroll;
    height: 75%;
}
#input {
    position: fixed;
    right: 20px;
    bottom: 5px;
    display: none;
    width: 252px;
}
#answer{
    position: fixed;
    display: none;
    overflow: auto;
    left: 20px;
    top: 5px;
}
#answer.bottom{
    bottom: 5px;
}
#answer td{
    color: white;
    background-color: #99ff99;
    text-align: center;
    font-size: 180%;
    font-weight: bold;
}
#field {
    margin-top: 5px;
    margin-left: 10px;
    border: 0px;
}
.square {
    outline: 1px solid black;
    border: 0px;
    padding: 0px;
    margin: 0px;
    background-size: 100% 100%;
}
span.nowrap {
    display: inline-block;
}
.active-log {
    border: 1px dashed yellow;
}
.btn, .input-sm {
    transform: rotate(0deg) skewX(-20deg);
    margin-right: 0px;
}
</style>
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}
<link href='/static/magic-bootstrap.css' rel='stylesheet' type='text/css'>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="/static/favicon.png">
<script type="text/javascript" src="{% static "log.js" %}"></script>
<script language="javascript" type="text/javascript">
var MODE = "{{ mode }}";
var type = "{{ code }}";
var wsUri = "ws://{{ server }}:8000/";
var first = '{{ first }}';
var second = '{{ second }}';
var you = {{ player_num }};
var opponent = you == 1 ? second : first;
var websocket;
var output;
var phase;
var player;
var inputshown = false;
var figcount = 62;
var fignum =
{
    AB : 1,
    Av : 2,
    Br : 3,
    Es : 4,
    F : 5,
    Kr : 6,
    KrPl : 7,
    Lk : 8,
    Mn : 9,
    NB : 10,
    Pl : 11,
    Rd : 12,
    Rk : 13,
    Sm : 14,
    St : 15,
    T : 16,
    Tk : 17,
    Tp : 18,
    Tr : 19,
    Unknown : 20,
    Sinking : 21
}
var count = [0,1,1,2,6,2,6,1,2,7,1,4,2,1,1,7,4,6,1,7];
var figname = ['Null', 'AB', 'Av', 'Br', 'Es', 'F', 'Kr', 'KrPl', 'Lk', 'Mn', 'NB', 'Pl', 'Rd', 'Rk', 'Sm', 'St', 'T', 'Tk', 'Tp', 'Tr', 'Unknown', 'Sinking'];
var info = [ "Пустая клетка",
    "Атомная бомба<br> Щелкнув в фазу атаки можно взорвать - уничтожить все корабли в квадрате 5х5 клеток. Если ее атакуют - взрывается.",
    "Авианосец<br> Образует блоки. Может нести Самолет. 729 е.с.",
    "Брандер.<br>Можно выстрелить в соседний (не по диагонали корабль) противника и захватить его. Захват только один раз подряд. При атаке взрывается как Мина.",
    "Эсминец.<br>Образует блоки. Может нести мины. 216 е.с.",
    "Форт<br> Абсолютно неподвижен. Если противник захватил все ваши Форты - вы проиграли. Выстрелы Торпед, Самолетов и Ракет не наносят вреда Фортам.",
    "Крейсер.<br>Образует блоки. 324 е.с.",
    "Крейсерская подводная лодка<br>Побеждает всех кроме Крейсера, Рейдера и Эсминца. Не образует и не учитывает блоки",
    "Линкор.<br>Образует блоки. 486 е.с.",
    "Мина<br> Ходит только рядом с эсминцем. Не атакует. При атаке уничтожается вместе с атаковавшим кораблем. Уничтожается Тральщиком.",
    "Нейтронная бомба<br> Щелкнув в фазу атаки можно взорвать - сделать все корабли в квадрате 5х5 клеток ничейными. Если ее атакуют - взрывается.",
    "Подводная лодка<br>Побеждает Линкор. Не образует и не учитывает блоки",
    "Рейдер<br> Образует блоки. Может входить в блоки с более слабой фишкой. Блок Рд+Ст может называться 2 Эсминца, а Рд+Ст+Эс - 3 Эсминца. 288 е.с.",
    "Ракета<br>Ходит только рядом с Крейсерской подводной лодкой. Можно выстрелить по прямой над кораблями двумя способами <b>Смотрите подсказку переключения способов внизу экрана, когда вы перетаскиваете ракету</b>: 1)не более чем на 2 клетки и уничтожить все корабли в квадрате 3х3 клетки. 2)не более чем на 3 клетки и уничтожить 1 корабль. Не наносит вреда Фортам. Уничтожается при выстреле.",
    "Самолет<br>Можно выстрелить (если рядом Авианосец) по прямой над кораблями на любое расстояние. Уничтожает любой корабль, кроме Форта. Уничтожается при выстреле.",
    "Сторож.<br>Образует блоки. 144 е.с.",
    "Торпеда<br>Ходит только рядом с Торпедным катером. Может ходить на 2 клетки. Можно выстрелить по прямой не более чем на 4 клетки. Не может стрелять сквозь корабли. Не наносит вреда Фортам.",
    "Торпедный катер<br> Образует блоки. Может ходить на 2 клетки. Переносит Торпеды. 96 е.с.",
    "Транспорт<br> Не образует блоки. Может переносить и запускать любые фишки. Уничтожается любым кораблем.",
    "Тральщик<br> Может снимать мины, торпеды и брандеры (атакуя их). Образует блоки. 64 е.с.",
    "Корабль противника",
    "Ничейный корабль<br>Атакуйте его любым кораблем, чтобы забрать себе. Ход перейдет к противнику."];
function coord(x, y) {
    return {
        x: x,
        y: y
    }
}

function is_equal_coord(a, b) {
    return a.x == b.x && a.y == b.y;
}

var field = new Array();
var dragging;
var isshot;
var movepassed = false;
var auto_attack_pass = true;
var last_moved_fig = 0;
var isaoe;
var ask_data = {
    is_aggressor: false,
    aggressor: coord(0, 0),
    target: coord(0, 0),
    blocks: [],
    ships: []
};

function showinput()
{
    $("#input").fadeIn(1000);
    inputshown = true;
    $("#text").focus();
}
function trigaoe()
{
    isaoe = !isaoe;
    $("#aoeon").html(isaoe ? "<span style=\"color: green\">включен</span>" : "<span style=\"color: red\">выключен</span>");
}
var page_visible = true;
const DB_KEY = 'seabattle-displacing';
function fill_matrix(array, value) {
    for (var x = 0; x < 14; x++) {
        array[x] = [];
        for (var y = 0; y < 14; y++) {
            array[x][y] = value;
        }
    }
}

function init()
{
    fill_matrix(field, 0);
    $(window).resize(function (){
        $("#output").scrollTop($("#output > div").height());
    }).resize();
    $("body").keydown(function (evt) {
        //alert (evt.which)
        if (MODE == 'tutorial') {
            if (evt.which == 32) {
                next_tip();
                return;
            }
        }
        if (evt.which == 13)
        {
            if (!inputshown)
            {
                showinput();
            }
            else
            {
                $("#input").fadeOut(1000);
                inputshown = false;
                var text = $("#text").val();
                if (text!= "")
                {
                    if (text[0] == "/") {
                        cheat_command(text);
                    }
                    SendJSON({action: 0, message: text});
                    $("#text").val("");
                }
            }
            return false;
        }
        else if ((player == you || phase == 0) && !inputshown)
        {
            if (evt.which == 82 && phase == 1 && isshot)
            {
                trigaoe();
            }
            else if (evt.which == 32)
            {
                if (phase == 0)
                {
                    displace()
                }
                else if (phase == 1)
                {
                    movepass()
                }
                else if (phase == 4)
                {
                    attackpass()
                }
            }
            else if (evt.which == 83)
            {
                if (phase == 1)
                {
                    shottrig()
                }
            }
            else
            {
                return true;
            }
            return false
        }
        return true;
    });
    $(".square").popover({trigger: 'hover', placement: 'auto bottom', delay: {show: 1000},
        html: true, container: 'body', content: function() { return info[$(this).attr("fig")];}});
    $(".square").on( "touchmove", function(e){
        e.preventDefault();
    });
    $(".square").on( "touchstart", function(e){
        $(e.target).mousedown();
        e.preventDefault();
    });
    $(".square").on( "touchend", function(e){
        $(document.elementFromPoint(e.originalEvent.changedTouches[0].pageX - window.pageXOffset,
                e.originalEvent.changedTouches[0].pageY - window.pageYOffset)).mouseup();
        e.preventDefault();
    });
    window.onfocus = function () {
        page_visible = true;
    };
    window.onblur = function () {
        page_visible = false;
    };
    Notification.requestPermission();
    if (MODE == "game") {
        init_socket();
    }
    else if (MODE == "tutorial") {
        next_tip();
    }
}
function init_socket()
{
    websocket = new WebSocket(wsUri);
    websocket.onopen = function(evt) { onOpen(evt) };
    websocket.onclose = function(evt) { onClose(evt) };
    websocket.onmessage = function(evt) { onMessage(evt) };
    websocket.onerror = function(evt) { onError(evt) };
}
function onOpen(evt)
{
    doSend(type);
    console.info("Подключено к серверу");
}
function onClose(evt)
{
    console.info("Соединение закрыто");
}
function show_modal(title, msg)
{
    $('#modal_title').html(title);
    $('#modal_msg').html(msg);
    $('#modal_window').modal({keyboard: false});
}
function displace()
{
    d = you == 1 ? 0 : 9;
    f = field.slice(0+d,5+d);
    var c = 0;
    for (var i = d; i < d+5; i++)
        for (var j = 0; j < 14; j++)
            if (field[i][j])
                c++;
    if (figcount != c)
    {
        alert('Расставьте все корабли');
        return;
    }
    SendJSON({action: 1, phase: 0, field: f});
    for (var i = 0; i < 14; i++)
        for (var j = 0; j < 14; j++)
            set_fig(i, j, 0);
    if (you == 1) droppable($("[id^='0:'],[id^='1:'],[id^='2:'],[id^='3:'],[id^='4:']"),false);
    else droppable($("[id^='9:'],[id^='10:'],[id^='11:'],[id^='12:'],[id^='13:']"),false);
    $(".square").css("background-color","#FFFFFF");
    localStorage.removeItem(DB_KEY);
}
function movepass()
{
    movepassed = true;
    SendJSON({action: 1, phase: 1, pass: true});
}
function attackpass()
{
    SendJSON({action: 1, phase: 4, pass: true});
}
function shottrig()
{
    setshot(!isshot);
}
function setshot(t)
{
    isshot = t;
    $("#shot").html((isshot ? "Стреляйте" : "Ходите"));
    if (isshot) {
        $("#aoe").show();
    } else {
        $("#aoe").hide();
    }
}
function ondrop(evt)
{
    if (dragging == null)
        return false;
    if (phase == 0)
    {
        x = $(this).attr("x");
        y = $(this).attr("y");
        fig = field[x][y];
        drag = $(dragging);
        id = drag.attr("id");
        sx = drag.attr("x");
        sy = drag.attr("y");
        if (field[sx][sy] != 0)
        {
            buf = field[x][y]
            field[x][y] = field[sx][sy];
            field[sx][sy] = buf
            set_fig(x, y, field[x][y]);
            set_fig(sx, sy, field[sx][sy]);
            localStorage.setItem(DB_KEY, JSON.stringify(you == 1 ? field : field.slice().reverse()));
        }
    }
    else if (phase == 1)
    {
        x = $(dragging).attr("x");
        y = $(dragging).attr("y");
        last_moved_fig = field[x][y];
        SendJSON({action: 1, phase: 1, fromx: x, fromy: y, tox: $(this).attr("x"), toy: $(this).attr("y"), isshot: isshot, isaoe: isaoe});
    }
    else if (phase == 4)
    {
        SendJSON({action: 1, phase: 4, fromx: $(dragging).attr("x"), fromy: $(dragging).attr("y"), tox: $(this).attr("x"), toy: $(this).attr("y")});
    }
    dragging = null;
    return false;
}
function ondrag(evt)
{
    dragging = this;
    return false;
}
function droppable(obj,enabled)
{
    if (enabled)
    {
        obj.mouseup(ondrop);
    }
    else
    {
        obj.unbind("mouseup");
    }
}
function draggable(obj,enabled)
{
    if (enabled)
    {
        obj.mousedown(ondrag);
    }
    else
    {
        obj.unbind("mousedown");
    }
}

function set_fig(x, y, fig, player)
{
    if (typeof(player) === "undefined") {
        player = -1;
    }
    field[x][y] = fig;
    var pos = $("[id='"+x+":"+y+"']");
    if (player == 0)
        pos.css("background-color", "white");
    else if (player == 1)
        pos.css("background-color", "#98ff98");
    else if (player == 2)
        pos.css("background-color", "#7fc7ff");
    pos.attr("fig",fig);
    if (fig != 0) {
        pos.css("background-image","url('/static/figures/"+figname[fig]+".png')");
    }
    else {
        pos.css("background-image","none");
    }
}

function should_pass() {
    if (last_moved_fig in [fignum["AB"], fignum["NB"]]) {
        return false;
    }
    for (var x = 0; x < 14; x++) {
        for (var y = 0; y < 14; y++) {
            if (field[x][y] in [fignum.Pl, fignum.KrPl, fignum.Av, fignum.Lk, fignum.Kr, fignum.Rd,
                    fignum.Es, fignum.St, fignum.Tk, fignum.Tr, fignum.Tp]) {
                for (var i = Math.max(0, x-1); i < Math.min(x+2, 14); i++) {
                    for (var j = Math.max(0, y-1); j < Math.min(y+2, 14); j++) {
                        if (field[i][j] == fignum.Unknown) {
                            return false;
                        }
                    }
                }
            }
        }
    }
    return true;
}

function nudge() {
    if (phase == 3 || (player == you && (phase == 1 || phase == 3)))
    {
        if (!page_visible)
        {
            var n = new Notification("Ваш ход", {
                tag : "your-move",
                body : "Действуйте в игре с "+opponent,
            });
        }
        document.title = "<Действуйте!> Морской бой против "+opponent;
    } else {
        document.title = "Морской бой против "+opponent;
    }
}

function init_displacing() {
    zone = you == 1 ? $("[id^='0:'],[id^='1:'],[id^='2:'],[id^='3:'],[id^='4:']") : $("[id^='9:'],[id^='10:'],[id^='11:'],[id^='12:'],[id^='13:']");
    draggable($(".square"),true);
    droppable($(".square"),true);
    zone.css("background-color","#98ff98");
    var displ = localStorage.getItem(DB_KEY);
    if (displ !== null && confirm('Обнаружена незавершенная расстановка. Вы хотите ее продолжить?')) {
        field = JSON.parse(displ);
        if (you == 2)
            field.reverse();
        for (var i = 0; i < 14; i++)
            for (var j = 0; j < 14; j++)
                set_fig(i, j, field[i][j]);
    } else {
        cur = you != 1 ? 4*14 : 5*14;
        for (i = 0; i < count.length; i++)
        {
            for (j = 0; j < count[i]; j++)
            {
                set_fig(Math.floor(cur/14), cur%14, i);
                cur++;
            }
        }
    }
}

function set_phase(phase, player) {
    switch(phase) {
    case 0:
        if (player != you)
        {
            $("#main").html('<h4>Расставьте корабли</h4><a onclick=displace()>Нажмите</a> Пробел, когда будете готовы');
            init_displacing();
        }
        else
        {
            $("#main").html("<h4>Ждите</h4>Противник на вашу погибель готовит подводные лодки");
        }
        break;
    case 1:
        if (player == you)
        {
            draggable($(".square"),true);
            droppable($(".square"),true);
            movepassed = false;
            isshot = false;
            setshot(false);
            $("#main").html('<h4 id="shot">Ходите</h4><a onclick=movepass()>Нажмите</a> Пробел чтобы пропустить ход. <a onclick=shottrig()>Нажмите</a> S, чтобы переключить режим выстрела.<div id="aoe" style="display: none;">Площадной эффект ракеты <span id="aoeon">выключен</span>.<a onclick=trigaoe()>Нажмите</a> "R" для переключения</div>');
            trigaoe();
        }
        else
        {
            $("#main").html("<h4>Ждите</h4>Ход противника.");
        }
        break;
    case 2:
        $("#main").html("<h4>Игра окончена</h4>");
        if (player == 0) show_modal("Игра окончена", "Игра завершилась вничью.");
        else if (player == you) show_modal("Игра окончена","Ты победил. Поздравляем!!!");
        else show_modal("Игра окончена","Ты проиграл. Обидно тебе наверное.");
        break;
    case 3:
        start_asking(mess);
        break;
    case 4:
        if (player == you)
        {
            draggable($(".square"),true);
            droppable($(".square"),true);
            if (!movepassed && auto_attack_pass && should_pass()) {
                attackpass();
            }
            $("#main").html('<h4>Атакуйте</h4>Чтобы '+(movepassed ? 'вернуться к фазе хода' : 'пропустить атаку')+' <a onclick=attackpass()>нажмите</a> Пробел');
        }
        else
        {
            $("#main").html("<h4>Ждите</h4>Противник атакует.");
        }
    }
}

function start_asking(mess) {
    $("#main").html("<h4>Выберите блок</h4>");
    ask_data.target = coord(mess.targetx, mess.targety);
    ask_data.aggressor = coord(mess.agressorx, mess.agressory);
    ask_data.is_aggressor = mess.player == you;
    var ship = mess.player == you ? ask_data.aggressor : ask_data.target;
    if (field[ship.x][ship.y] == "Pl" || field[ship.x][ship.y] == "KrPl")
        return;
    highlight([hl(ask_data.target.x, ask_data.target.y, "#ff0033"), hl(ask_data.aggressor.x, ask_data.aggressor.y, "#2a52be")]);
    ask_data.ships.push(ship);
    add_block(1, field[ship.x][ship.y], [ship.x], [ship.y]);
    $(".square").click(add_ship);
    if (ship.x < 5)
        $("#answer").addClass("bottom");
    else
        $("#answer").removeClass("bottom");
    $("#answer").show();
}

function onMessage(evt)
{
    console.log('<span style="color: blue;">Сообщение от сервера: ' + evt.data+'</span>');
    mess = JSON.parse(evt.data);
    onbottom = ($("#output").scrollTop() > $("#output > div").height() - $("#output").height());
    if (mess.action == 1)
    {
        nudge();
        set_phase(mess.phase, mess.player);
    }
    else if (mess.action == 4)
    {
        if (mess.player == 0) $("#output > div").append("<p class=\"log\">"+mess.message+"<p>");
        else $("#output > div").append("<p style=\"color: "+(mess.player == you ? "gray" : "black")+"\">"+mess.message+"<p>");
    }
    else if (mess.action == 3)
    {
        for (i = 0; i < mess.changex.length; i++)
        {
            x = mess.changex[i];
            y = mess.changey[i];
            fig = mess.changefig[i];
            set_fig(x, y, fig);
        }
    }
    else if (mess.action == 2)
    {
        LogParse(mess.log);
    }
    else if (mess.action == 0)
    {
        $("#main").html("Соединено с сервером. Ожидание игры");
    }
    if (onbottom)
        $('#output').stop().animate({
              scrollTop: $("#output")[0].scrollHeight
        }, 800);
}
function onError(evt)
{
    $("#output > div").append('<p style="color: red;">Ошибка соединения с сервером</p>');
    console.error('<span style="color: red;">Произошла ошибка.</span> ' + evt.data);
}
function SendJSON(mess)
{
    doSend(JSON.stringify(mess));
}
function doSend(message)
{
    console.log("Отправил сообщение: " + message);
    websocket.send(message);
}
function add_ship(evt)
{
    var el=$(this);
    var x = el.attr("x");
    var y = el.attr("y");
    var ship = coord(x, y);
    if (field[x][y] > 0 && field[x][y] < 20 && !is_equal_coord(ship, ask_data.aggressor) && !is_equal_coord(ship, ask_data.target))
    {
        var index = -1;
        ask_data.ships.forEach(function (val, i) {if (is_equal_coord(ship, i)) { index = i; }});
        if (index != -1)
        {
            ask_data.ships.splice(index, 1);
            highlight(hl(x, y, "#ffffff"));
        }
        else
        {
            ask_data.ships.push(ship);
            highlight(hl(x, y, ask_data.is_aggressor ? "#2a52be" : "#ff0035"));
        }
        find_blocks();
    }
}
function find_blocks()
{
    $("#answer").html("");
    blocktype = 0;
    str = 0;
    ox = [];
    oy = [];
    Rd = ask_data.ships.some(function (val) {field[val.x][val.y] == fignum.Rd});
    for (var i = 0; i < ask_data.ships.length; i++) {
        ship = ask_data.ships[i];
        fig = field[i][j];
        if (blocktype == 0)
        {
            blocktype = fig;
        }
        else if (blocktype == fig) blocktype = fig;
        else if (blocktype == fignum.Rd && (fig == fignum.Es || fig == fignum.St || fig == fignum.Tk || fig == fignum.Tr)) blocktype = fig;
        else if (fig == fignum.Rd && (blocktype == fignum.Es || blocktype == fignum.St || blocktype == fignum.Tk || blocktype == fignum.Tr)) Rd = true;
        else if (fig == fignum.Es && blocktype == fignum.St && Rd) blocktype = fignum.Es;
        else if (fig == fignum.St && blocktype == fignum.Es && Rd) blocktype = fignum.Es;
        else return;
        ox.push(ship.x);
        oy.push(ship.y);
        str++;
    }
    add_block(str,blocktype,ox,oy);
    if (str == 2 && blocktype == fignum.St && Rd) add_block(2,fignum.Es,ox,oy);
}
function add_block(str,fig,x,y)
{
    var n = ask_data.blocks.length;
    ask_data.blocks.push({
        strength: str,
        fig: fig,
        x: x,
        y: y
    });
    $("#answer").append("<td onclick=block_click() height=64 width=64 style=\"background-image: url('/static/"+figname[fig]+".png');\" data-index="+n+"><h2>"+str+"</h2></td>");
}
function block_click()
{
    var n = $(this).attr("data-index");
    var block = ask_data.blocks[n];
    SendJSON({action: 1, phase: 3, blockstrength: block.strength, blocktype: block.fig, blockx: block.x, blocky: block.y});
    for (i = 0; i < block.x.length; i++) {
        highlight(hl(block.x[i], block.y[i], "#ffffff"));
    }
    highlight([hl(ask_data.aggressor.x, ask_data.aggressor.y, "#ffffff"), hl(ask_data.target.x, ask_data.target.y, "#ffffff")]);
    ask_data.blocks = [];
    ask_data.ships = [];
    $(".square").unbind("click");
    $("#answer").html("");
    $("#answer").hide();
}
</script>
<script type="text/javascript" src="{% static "tutorial.js" %}"></script>
<script type="text/javascript" src="{% static "cheats.js" %}"></script>
<script type="text/javascript">
window.addEventListener("load", init, false);
</script>
<body>
<div class="modal fade" id="modal_window" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <h4 class="modal-title" id="modal_title"></h4>
      </div>
      <div class="modal-body" id="modal_msg">
      </div>
        <div class="modal-footer">
        <a type="button" class="btn btn-primary" href="/">Покинуть страницу</a>
      </div>
    </div>
  </div>
</div>
<div id="input"><input id="text" type="text" size=30 style="background-color: #ffcc99; opacity: 0.9; border: none"></div>
<div id="field"><table border>
{% for i in row_id %}
    <tr>
        {% for j in row_id %}
        <td id="{{i}}:{{j}}" x={{i}} y={{j}} class="square" onclick = "void(0)"></td>
        {% endfor %}
    </tr>
{% endfor %}
</table>
</div>
<div id="info">
<div id="badge" onclick="$('#info').toggleClass('shown')"><span class="glyphicon glyphicon-menu-hamburger"></span></div>
<div id="header" class="well center-block">
    <h4 id="vs"><span class="nowrap">{{ first }}</span> vs <span class="nowrap">{{ second }}</span><br/>
</h4>
<button class="btn btn-xs btn-danger" id="resign" onclick="if (confirm('Вы действительно хотите сдаться?')) {SendJSON({action: 3});}" >Сдаться</button>
<button class="btn btn-xs btn-warning" id="draw" onclick="SendJSON({action: 4});" >Предложить ничью</button>
<button class="btn btn-xs btn-default" id="write_message" onclick="showinput();" >Написать сообщение</button>
<button class="btn btn-xs btn-primary" id="move_back" onclick=shift_move(-1)>
    <span class="glyphicon glyphicon-chevron-left">
</button>
<input class="form-control input-sm" onchange=set_move(this.value) style="display: inline; width: 60px;" type="number" min=1 value=0 id="move">
<button class="btn btn-xs btn-primary" onclick=shift_move(1)>
    <span class="glyphicon glyphicon-chevron-right">
</button></br>
<div id="main" >Вероятно, возникла проблема при подключении к серверу</div>
</div>
<div id="output" ><div></div></div>
</div>
</div>
<table id="answer"></table>
</body>
</html>
