{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
    <h1>Морской бой по-физтеховски</h1>
</div>
<div class="row">
<div class="col-md-12 panel panel-default">
<div class="panel-body">
<p>Морской бой по-физтеховски - это настольная стратегическая игра для двух игроков, похожая на шашки или шахматы.
Игроки по-очереди передвигают свои фишки по клетчатому полю. Основным отличием является то, что игрок видит местоположение фишек соперника, но не их тип. А расставляет он фишки перед началом игры по своему усмотрению. Поэтому остается только догадываться, каким кораблем противник идет в атаку.</p>
<p>Морской бой появился в 80-х годах прошлого века на физфаке МГУ. Бытовало мнение, что придумали его в МФТИ - отсюда и название, - но подтверждений этому нет.
Он основывается на игре "Stratego" ("Сражение", "Разведка боем" в советском варианте), но гораздо сложнее и интересней.</p>
<p>На этом сайте представлена сетевая версия Морского боя по-физтеховски</p>
</div>
</div>
{% endblock %}
