{% extends 'base.html' %}
{% block content %}
<div class="row row-eq-height">
    <div class="col-md-3 well">
        <img class="img-responsive img-circle center-block" src="{{ user.avatar_url }}&sz=200">
        <h2 class="text-center">{{ user.get_full_name }}</h2>
        <p class="text-center lead"><span class="glyphicon glyphicon-signal"></span> {{ user.get_rate | floatformat:"0" }}</p>
    </div>
    <div class="col-md-4">
        <div class="panel panel-info" style="height: 100%">
        <div class="panel-heading">Текущие игры</div>
        {% if games %}
            <div class="panel-body">
                Против игроков:
            </div>
            <ul class="list-group">
            {% for game in games %}
            <li class="list-group-item">{{ game }}</li>
            {% endfor %}
            </ul>
        {% else %}
            <div class="panel-body">
                <p class="lead text-center">У тебя нет активных игр</p>
                <p class="text-center">Может вызовешь кого-нибудь на бой?</p>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
